body{
    margin: 0;
    background-color: rgb(38, 107, 92);
}

header{
    text-align: center;
}
.nav{
    background-color: royalblue;
    display: inline-block;
}

.inicial{
    display: inline-block;
    width: 33,333%;
    background-color: rgb(14, 112, 107);
    margin: auto;

}

.sobre{
    width: 33,333%;
    display: inline-block;
    margin: auto;
    background-color: rgb(13, 134, 128);
}

.contato{
    width: 33,333%;
    display: inline-block;
    margin-left: auto;
    background-color: rgb(6, 145, 138);
}

h2{
    text-align: center;
}

h3{
    font-style: italic;
    text-align: center;
}

.text-section{
    text-align: justify;
    margin-left: auto;
    width: 70%;
    display: inline-block;
    float: right;
}

#primeira-seção{
 text-align: justify;
 background-color: green;
 margin: auto;
 display: inline-block;
}

table{
    margin: auto;
}

.img-ps{
    width: 20%;
    display: inline-block;
}

footer{
    text-align: center;
    font-style: italic;
}



